{% extends "base.html" %}

{% block content %}
  <header class="header-2">
    <div class="page-header min-vh-75 relative">
      <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">The Best Task Manager</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card" style="max-width: 95%; align-content: center; margin: 0 auto;">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto py-2 text-center">
          <p class="lead text-dark mt-3">Plan, manage and track all your team's tasks in one flexible platform.
            What would you like to manage?</p>

          <div class="row">
            <div class="col-md-3 position-relative">
              <div class="p-2 text-center">
                <h1 class="text-gradient text-primary"><span id="state1">{{ num_worker }}</span></h1>
                <h5 class="mt-3">Workers</h5>
                <p class="text-sm font-weight-normal">Our workers know how to resolve you the greatest tasks</p>
              </div>
            </div>
            <div class="col-md-3 position-relative">
              <div class="p-2 text-center">
                <h1 class="text-gradient text-primary"><span id="state2">{{ num_task }}</span></h1>
                <h5 class="mt-3">Tasks</h5>
                <p class="text-sm font-weight-normal">Here you can taste resolves</p>
              </div>
            </div>
            <div class="col-md-3 position-relative">
              <div class="p-2 text-center">
                <h1 class="text-gradient text-primary" id="state3">{{ num_task_type }}</h1>
                <h5 class="mt-3">Task types</h5>
                <p class="text-sm font-weight-normal">We have types of tasks for every problems and for every
                  occasion</p>
              </div>
            </div>
            <div class="col-md-3 position-relative">
              <div class="p-2 text-center">
                <h1 class="text-gradient text-primary"><span id="state1">{{ num_position }}</span></h1>
                <h5 class="mt-3">Positions</h5>
                <p class="text-sm font-weight-normal">We get all the positions from every existence</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}